body {
    background-color: #412b34;
}

/* Grid container */
.color-grid {
    display: flex;
    gap: 15px;
    padding: 40px;
    justify-content: center;
}

/* Base box style */
.color-box {
    width: 100px;
    height: 100px;
}

/* Hexadecimal color */
.color1 {
    background-color: #ff5733;
}

/* RGB color */
.color2 {
    background-color: rgb(52, 152, 219);
}

/* Predefined color */
.color3 {
    background-color: green;
}

/* HSL color */
.color4 {
    background-color: hsl(45, 100%, 50%);
}

/* Any valid background color */
.color5 {
    background-color: purple;
}
