body {
  font-family: Verdana, sans-serif;
  background: linear-gradient(to right, #1e3c72, #2a5298);
}

.container {
  width: 420px;
  margin: 70px auto;
  text-align: center;
  background: #ffffff;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 0 15px #00000050;
}

h1 {
  color: #2a5298;
}

input {
  width: 70%;
  padding: 8px;
  border: 2px solid #2a5298;
  border-radius: 4px;
}

button {
  padding: 8px 12px;
  cursor: pointer;
  background-color: #2a5298;
  color: white;
  border: none;
  border-radius: 4px;
}

button:hover {
  background-color: #1e3c72;
}

ul {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}

li {
  background: #e3f2fd;
  margin: 8px 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}

.deleteBtn {
  background: #d32f2f;
  color: white;
  border: none;
  padding: 5px 8px;
  border-radius: 3px;
  cursor: pointer;
}

.deleteBtn:hover {
  background: #b71c1c;
}
